{
  "presets": [["es2015", {
    "modules": false
  }]],
  "plugins": ["angularjs-annotate"],
  "env": {
    "test": {
      "presets": ["babel-preset-power-assert"],
      "plugins": [
        ["istanbul", {
          "exclude": [
            "client/src/specs.js",
            "client/src/**/*.spec.js"
          ]
      }]]
    }
  }
}
