{
  "presets": ["es2015"],
  "env": {
    "test": {
      "plugins": [["istanbul", {
        "exclude": [
          "client/src/specs.js",
          "client/src/**/*.spec.js"
        ]
      }]]
    }
  }
}
