<h3>Create contact</h3>

<form name="contactForm" ng-submit="ctrl.create()">
  <div class="form-group">
    <label for="fist-name-field">First name</label>
    <input ng-model="ctrl.contact.firstName"
           name="firstName"
           type="text" class="form-control" id="fist-name-field" />
  </div>

  <div class="form-group">
    <label for="last-name-field">Last name</label>
    <input ng-model="ctrl.contact.lastName"
           name="lastName"
           type="text" class="form-control" id="last-name-field" />
  </div>

  <button class="btn btn-success">
    <span class="glyphicon glyphicon-floppy-disk"></span>
    Create
  </button>

  <button class="btn btn-default" ui-sref="contacts.list">
    <span class="glyphicon glyphicon-repeat"></span>
    Cancel
  </button>
</form>
